<% include partials/header %>

<h1>You have subscribed this email already! :(</h1>
<h1>Or the email address is invalid! :(</h1>

<a href="/">Return to the main page!</a>

<% include partials/footer %>
